# Output
/Bin/

# Visual Studio
/.vs/
Carbonite.sln
*.vcxproj
*.vcxproj.*
/CarboniteBaseMod/obj/
/CarboniteModAPI/obj/

# Makefile
Makefile
*.Make
*.mak

# XCode
*.xcworkspace
*.xcodeproj/

# Macos
*.DS_Store

# C#
Carbonite/Run/Base/Base.dll
Carbonite/Run/Mods/*.dll

# Premake
premake5.exe