# Output
/Bin/

# Visual Studio
/.vs/
Carbonite.sln
*.vcxproj
*.vcxproj.*
/CarboniteBaseMod/bin/
/CarboniteBaseMod/obj/
/CarboniteModAPI/bin/
/CarboniteModAPI/obj/

# CLion
/.idea/

# CMake
CMakeLists.txt
*.cmake

# Makefile
Makefile
*.Make
*.mak

# XCode
*.xcworkspace
*.xcodeproj/

# Macos
*.DS_Store

# C#
Carbonite/Run/Base/Base.dll
Carbonite/Run/Mods/*.dll

# Premake
premake5.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app