/.build-*/
/.codelite/
/.gradle/
/.idea/
/.vs/
/bin/
/build/
/lib/
/obj/

/*.gradle
/*.iml
/*.sln
/*.workspace
/*.xcworkspace
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/Makefile

premake5.exe
premake5
